
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forget Password</title>

    <style>
        input {
            margin-bottom: 16px;
        }

        label {
            display: flex;
            flex-direction: column;
        }

        input[type=button] {
            display: flex;
            flex-direction: row;
            background-color: aquamarine;
            border: 1px solid aquamarine;
            border-radius: 30px;
        }

        fieldset {
            margin: 0px auto;
            background-color: azure;
        }

        button {
            display: flex;
            flex-direction: row;
            background-color: aquamarine;
            border: 1px solid aquamarine;
            border-radius: 30px;
        }
    </style>
</head>

<body>
    <form id="form1">

        <fieldset style="width: 15%;">
            <legend> Forget Password</legend>
            <label for="User">Email</label>
            <input type="text" id="loginemail" name="loginemail">

            <!-- <label for="password"> Password</label>
            <input type="text" id="loginpassword" name="loginpassword"> -->

            <!-- 

            <input type="button" id="pbutton" value="submit" onclick="setPassword()"> -->
            <!-- <input type="button" id="lbutton" value="submit" onclick="loginForm()"> -->
            <input type="button" id="lbutton" value="submit" onclick="forgetpassword()">
            <!-- <p id="forgotpassword">forgot password</p> -->
            <p id="emailcheck"></p>
            <p id ="message"></p>


    </form>
    <script>
        async function forgetpassword() {
            if(!forgetvalidation()){
                return;
            }
            const form = document.getElementById('form1');
            const formData = new FormData(form);
            const serializedFormData = {};

            for (const [key, value] of formData.entries()) {
                const fieldName = key.replace('[]', '');
                if (!serializedFormData[fieldName]) {
                    serializedFormData[fieldName] = [];
                }
                serializedFormData[fieldName].push(value);
            }
            // const code = await randomStr(6, 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890');



            try {
                const response = await fetch(`/forgetpassword`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'Accept': 'application/json'
                    },
                    body: JSON.stringify(serializedFormData)
                });


                // if (!response.ok) {
                //     document.getElementById("invalidcredentials").innerHTML = "invalid credentials";
                // }
                const data = await response.json();
                if (data == false) {
                    document.getElementById("emailcheck").innerHTML = "<h3>email doesnot exist</h3>"
                }
                if (data == true) {
                    const email = document.getElementById("loginemail").value;
                    window.location.href = `resetpassword/${email}`

                }
                // const resw = await res
                // document.getElementById("linkmessage").innerHTML = "<h2>Thank you for the registration</h2>" + "<br>" + `<a href="http://localhost:3001/activate/${code}">Click to activate</a>`
                //   let activebtn= document.getElementById("activate");
                //   activebtn.style.display="block";


                // console.log('Form data sent successfully:');


            } catch (error) {
                console.error('There was a problem with your fetch operation:', error);
            }

        }
        function forgetvalidation(){
            if(document.getElementById("loginemail").value==''){
                document.getElementById("message").innerHTML="<h3>Please enter the email</h3>"
                    return false;
            }
            else{
                document.getElementById("message").innerHTML=" "
                return true;

            }
        }
    </script>
</body>

</html>
